<div class="small-page">
    <h1>Determine the Smallest Missing Positive Integer</h1>

    <p>Using the <code>SmallestIntegerComponent</code>, write an <strong>efficient</strong> function <code>smallestMissingInt(A)</code> that will determine the smallest missing integer (greater than 0), given an <code>array A</code> of <code>N integers</code>.</p>

    <div class="fn-example">
        <h4>For example:</h4>
        <p>Given <code>A = [1, 2, 3, 4, 5]</code> the function should return 6.</p>
        <p>Given <code>A = [1, 6, 3, 4, 2, 1]</code> the function should return 5.</p>
        <p>Given <code>A = [-1, -6, 4]</code> the function should return 1.</p>
    </div>

    <p>You can make a few assumptions:</p>
    <ul>
        <li>N is an integer within the range of [1 ... 100,000]</li>
        <li>each item of <code>array A</code> is an integer within the range of [-1,000,000 ... 1,000,000]</li>
    </ul>
</div>
