@import '../../../assets/scss/variables';

.fn-example {
    background: $sg-grey;
    border-left: 3px solid $sg-grey-dark;
    margin: 2rem 0;
    padding: 1rem 1.5rem;

    h4 {
        margin: 0 0 0.5rem;
    }

    p {
        margin: 0 0 0.5rem;
    }

    code {
        background-color: #FFF;
    }
}
