html {
    height: 100%;
    font-size: 14px;
}

body {
    height: 100%;
    font-size: 1.2rem;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import 'dragula';
@import 'variables';
@import 'base';
@import 'links';
