<header class="header">
    <div class="logo">
        <a routerLink="/">
            <img src="logo-tm-white.png" alt="SafeGuard Privacy Logo">
        </a>
    </div>

    <ul class="menu-items">
        <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                Home
            </a>
        </li>
        <li>
            <a routerLink="/temperature" routerLinkActive="active">
                Temperature
            </a>
        </li>
        <li>
            <a routerLink="/taskboard" routerLinkActive="active">
                Taskboard
            </a>
        </li>
        <li>
            <a routerLink="/notes" routerLinkActive="active">
                Notes
            </a>
        </li>
        <li>
            <a routerLink="/integer" routerLinkActive="active">
                Smallest Integer
            </a>
        </li>
        <li>
            <a routerLink="/ghpages" routerLinkActive="active">
                GitHub Pages
            </a>
        </li>
    </ul>

    <div class="temperature-details">
        <p>Temperature: 32º</p>
    </div>

    <div class="github">
        <a href="https://github.com/SafeguardPrivacy/Developer-Test" target="_blank">
            <fa-icon [icon]="faGithub"></fa-icon>
            Github
        </a>
    </div>
</header>
