@import '../../../assets/scss/variables';

.header {
    background: $sg-primary-dark;
    padding: 0.4rem 1.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    > * {
        margin-right: 1rem;
    }

    a {
        color: #FFF;
        display: block;
        padding: 4px 8px;
        border-radius: 4px;

        &:hover {
            color: $sg-link-hover;
        }

        &.active {
            color: $sg-link;
            background: #FFF;
        }
    }

    .logo {
        max-width: 20rem;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .menu-items {
        flex: 1;
        display: inline-flex;
        list-style: none;
        padding: 0;
        align-items: center;
        gap: .5rem;
        font-size: 1.2rem;
        margin-left: 1rem;
    }

    .temperature-details {
        color: #FFF;
        margin-right: 2rem;
    }

    .github {
        font-size: 1.4rem;
    }
}
