<div class="small-page">
    <h1>Add the User's Current Temperature to the Header</h1>
    <p>Get the user's location (latitude & longitude) based on their browser and search the
        <a href="https://openweathermap.org/current" target="_blank">openweathermap.org free weather api</a>
        to pull the current temperature in <strong>fahrenheit</strong> for that location.</p>

    <p>Use the OpenWeatherMap API KEY: <code>354b4e751f41872ac5ee002579748a47</code></p>

    <p>There are a few requirements for this feature:</p>
    <ul>
        <li>The temperature should be loaded as soon as the website is opened by the user and should always be visible as the user navigates the site.</li>
        <li>The temperature should be displayed on the right side of the header, near the github logo.</li>
        <li>The temperature should be updated every 30 seconds.</li>
        <li>The temperature should be rounded to the nearest degree.</li>
        <li>The temperature should be displayed with the degree º symbol.</li>
    </ul>

    <p class="alert">Feel free to be creative and implement extra features or out-of-the-box ideas.</p>
</div>
