<div class="small-page">
  <h1>Publish your test to a (free) GitHub Pages Site</h1>

  <p>Once you are done with all the tasks, follow the steps below to set up your Developer Test on GitHub Pages.</p>

  <ol>
    <li>Commit and push your code.</li>
    <li>Deploy the Angular App to your gh-pages branch by running:<br><code>ng deploy</code><br><small><i>This command automatically creates the <code>gh-pages</code> branch and pushes it to your GitHub repo. You may need to authenticate with GitHub if you are not already.</i></small></li>
    <li>Go to your GitHub Repository Pages Settings:<br><code>https://github.com/<strong>[YOUR-GITHUB-ACCOUNT]</strong>/Developer-Test/settings/pages</code></li>
    <li>Find the <i>Source</i> section and set the values to the following:<br><img src="assets/gh-source.jpg" alt="GitHub Source Image"/></li>
    <li>You will then see a box letting you know your site was published. <strong>GitHub may take several minutes to publish your site.</strong><br><img src="assets/gh-published.jpg" alt="GitHub Published Image"/></li>
    <li>Once the site is published copy both the <i>GitHub Repo Link</i> and <i>GitHub Pages Link</i> and send those to your SafeGuard Privacy hiring representative.</li>
  </ol>
</div>
