<ng-template #contentTemplate>
    <h3>{{ item.title }}</h3>
    <p><ng-content></ng-content></p>
</ng-template>

<li class="simple-list-item">
    <a [href]="item.link" target="_blank" *ngIf="item.linkTo === 'url'">
        <ng-container *ngTemplateOutlet="contentTemplate; context: {$implicit: false}"></ng-container>
    </a>

    <a href="javascript:" [routerLink]="item.link" *ngIf="item.linkTo === 'routerLink'">
        <ng-container *ngTemplateOutlet="contentTemplate; context: {$implicit: false}"></ng-container>
    </a>

    <div *ngIf="!item.linkTo">
        <ng-container *ngTemplateOutlet="contentTemplate; context: {$implicit: false}"></ng-container>
    </div>
</li>
