<div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{ editMode ? 'Edit Task' : 'Add a New Task' }}</h3>
        <button class="close-btn" (click)="onClose()">
          <fa-icon [icon]="faTimes"></fa-icon> 
        </button>
      </div>
      <label>Comment:</label>
      <textarea [(ngModel)]="comment"></textarea>
      <div class="modal-actions">
        <button *ngIf="editMode" (click)="onEdit()">
          <fa-icon [icon]="faSave"></fa-icon>
        </button>
        <button class="add-btn" *ngIf="!editMode" (click)="onSave()">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>
    </div>
  </div>